/* *** PRODUCT VIEW *** */
.product-single .card-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  color: var(--text-color);
}

/* *** PRODUCT SINGLE GALLERY *** */
.product-single .gallery {
  width: 100%;
}

.product-single .highlight > img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border: 2px solid var(--secondary-color);
  cursor: zoom-in;
}

.product-single .gallery-preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}

.product-single .gallery-preview img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  opacity: 0.7;
  transition: 200ms;
  cursor: pointer;
}

.product-single .gallery-preview img:hover {
  opacity: 1;
}

.product-single .gallery-preview img.active {
  opacity: 1;
  border: 2px solid var(--secondary-color);
}

/* *** LIGHTBOX PRODUCT GALLERY *** */
.product-single .highlight .lightbox-target {
  position: fixed;
  top: -100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  z-index: 100;
  background-color: #00000099;
  transition: opacity 400ms;
}

.product-single .highlight .lightbox-target img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  border-radius: 4px;
  background-color: var(--background-secondary-color);
}

.product-single .highlight .lightbox-target a.lightbox-close {
  position: absolute;
  top: -80px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  height: 5%;
  border-radius: 4px;
  color: var(--delete-color);
  background-color: var(--background-secondary-color);
  transition: 400ms;
}

/* *** PRODUCT INFO *** */
.product-single .info {
  display: grid;
  grid-template-rows: auto 40px 2fr 1fr;
}

.product-single .info h1 {
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.product-single .info .published {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: var(--text-color);
  filter: opacity(0.5);
}

/* *** PRICE-BUY *** */
.product-single .price-buy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 8px;
  border-top: 1px solid var(--header-footer-color);
}

.product-single .price-buy .price {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  align-items: baseline;
}

.product-single .price-buy .price .old {
  text-decoration: line-through;
  font-size: 16px;
  font-weight: 400;
  filter: opacity(0.5);
}

.product-single .price-buy .buy button {
  font-size: 16px;
  letter-spacing: 0.4px;
  color: var(--header-footer-text-color);
  background-color: var(--secondary-color);
}

.product-create,
.product-edit {
  max-width: 700px;
}