@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;700&display=swap');

:root {
  --primary-color: #FD951F;
  --secondary-color: #00B27C;
  --text-color: #FFFFFF;
  --delete-color: #FD5959;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Signika', sans-serif;
  text-decoration: none;
  list-style-type: none;
  border: none;
}

html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #202020;
}

.container {
  width: 90%;
  max-width: 940px;
  margin: 0 auto;
}

footer {
  margin-top: auto
}

.button {
  display: block;
  align-self: end;
  width: 100%;
  margin: 16px 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  transition: all 200ms;
  color: #161616;
  background-color: var(--primary-color);
}

.button:hover {
  filter: brightness(85%)
}

.button.edit {
  background-color: var(--secondary-color);
}

.button.delete {
  background-color: var(--delete-color);
}

/* *** HEADER *** */
header, footer {
  width: 100%;
  padding: 32px 0;
  text-align: center;
  color: var(--text-color);
  background-color: #161616;
}

header div.container {
  display: grid;
  grid-template-columns: 220px 1fr 280px;
  gap: 24px;
  align-items: center;
}

header div.container a {
  justify-self: start;
}

/* *** LOGO *** */
.logo h1 {
  font-size: 36px;
  line-height: 46px;
  color: var(--text-color);
}

.logo h2 {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  color: var(--primary-color);
}

/* *** HEADER SEARCH *** */
.search input {
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 2px;
}

/* *** PRIMARY MENU *** */
nav.primary ul {
  display: flex;
  justify-content: space-between;
}

nav.primary ul li a {
  display: flex;
  align-items: center;
  transition: 200ms;
  color: var(--text-color);
}

nav.primary ul li a:hover {
  color: var(--primary-color);
}

nav.primary ul li a i {
  margin-right: 8px;
}

/* *** PRODUCTS FORM *** */
section.form {
  width: 90%;
  max-width: 700px;
  margin: 32px auto;
  padding: 32px 24px;
  border-radius: 4px;
  color: var(--text-color);
  box-shadow: 2px 2px 2px -2px #000000;
  background-color: #242424;
}

section.form .header h3 {
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: var(--primary-color);
}

form .item {
  margin-bottom: 16px;
}

form .item > label {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  font-weight: 500;
  text-transform: uppercase;
}

form .item input[type="text"],
form .item input[type="text"],
form .item textarea,
form .item select {
  width: 100%;
  padding: 8px 16px;
  font-size: 18px;
  outline: none;
  border-radius: 4px;
  color: var(--text-color);
  box-shadow: 2px 2px 2px -2px #000000;
  background-color: #202020;
}

form .item select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23FD951F%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

form .item textarea {
  min-height: 150px;
  resize: none;
}

form .item .status label {
  margin-right: 16px;
}

form .fields {
  margin-bottom: 64px;
}

/* *** PHOTOS UPLOAD *** */
form .item #photos-upload {
  position: relative;
  display: block;
  overflow: hidden;
  width: 200px;
}

form .item #photos-upload p {
  width: 100%;
  padding: 8px 16px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: 2px 2px 2px -2px #000000;
  background-color: var(--secondary-color);
}

form .item #photos-input {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

form .item #photos-preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  width: 100%;
  margin: 8px 0;
}

form .item #photos-preview img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

#photos-preview .photo {
  position: relative;
}

#photos-preview .photo i {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 100px;
  color: var(--delete-color);
  background-color: #FFFFFF33;
  opacity: 0;
  cursor: pointer;
  transition: 200ms;
}

#photos-preview .photo i:hover {
  opacity: 1;
}

/* *** PRODUCT VIEW *** */
.product-single {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin: 32px auto;
  padding: 32px 24px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px -2px #000000;
  color: var(--text-color);
  background-color: #242424;
}

/* *** PRODUCT SINGLE GALLERY *** */
.product-single .gallery {
  width: 100%;
}

.product-single .highlight > img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border: 2px solid var(--secondary-color);
  cursor: zoom-in;
}

.product-single .gallery-preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}

.product-single .gallery-preview img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  opacity: 0.7;
  transition: 200ms;
  cursor: pointer;
}

.product-single .gallery-preview img:hover {
  opacity: 1;
}

.product-single .gallery-preview img.active {
  opacity: 1;
  border: 2px solid var(--secondary-color);
}

/* *** LIGHTBOX PRODUCT GALLERY *** */
.product-single .highlight .lightbox-target {
  position: fixed;
  top: -100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  z-index: 100;
  background-color: #00000099;
  transition: opacity 400ms;
}

.product-single .highlight .lightbox-target img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  border-radius: 4px;
  background-color: #242424;
}

.product-single .highlight .lightbox-target a.lightbox-close {
  position: absolute;
  top: -80px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  height: 5%;
  border-radius: 4px;
  color: var(--delete-color);
  background-color: #242424;
  transition: 400ms;
}

/* *** PRODUCT INFO *** */
.product-single .info {
  display: grid;
  grid-template-rows: auto 40px 2fr 1fr;
}

.product-single .info h1 {
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.product-single .info .published {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: var(--text-color);
  filter: opacity(0.5);
}

/* *** PRICE-BUY *** */
.product-single .price-buy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  border-top: 1px solid #161616;
}

.product-single .price-buy .price {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  align-items: baseline;
}

.product-single .price-buy .price .old {
  text-decoration: line-through;
  font-size: 16px;
  font-weight: 400;
  filter: opacity(0.5);
}

.product-single .price-buy .buy button {
  font-size: 16px;
  letter-spacing: 0.4px;
  color: var(--text-color);
  background-color: var(--secondary-color);
}

/* *** SHOP *** */
.shop h2 {
  margin: 48px 0;
  color: var(--text-color);
}

.shop .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  color: var(--text-color);
}

.shop .product {
  display: grid;
}

.shop .product .image {
  padding-top: 56.25%;
  border-radius: 4px;
  background-size: cover;
  background-position: center center;
}

.shop .product .old-price {
  display: flex;
  align-items: center;
  height: 24px;
  font-size: 14px;
  filter: opacity(0.5);
  text-decoration: line-through;
}

.shop .items h4 {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.shop .items p {
  font-size: 24px;
  font-weight: 400;
}

/* *** SEARCH PAGE *** */
.search-products {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin-top: 48px;
}

.search-products .header {
  margin-bottom: 48px;
  color: var(--secondary-color);
}

.search-products .header h2 {
  margin-bottom: 8px;
  font-size: 28px;
  text-transform: capitalize;
}

.search-products .header p {
  font-size: 16px;
  color: var(--text-color);
  filter: opacity(0.5);
}

.search-products nav h4 {
  margin-bottom: 16px;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.search-products nav ul li {
  margin: 4px 0;
}

.search-products nav ul li a {
  color: var(--text-color);
  filter: opacity(0.5);
}

.search-products nav ul li a:hover {
  font-weight: 500;
  filter: opacity(1);
}