<div class="item">
  <div class="input">
    <label for="name">Nome Completo</label>
    <input type="text"
      name="name"
      id="name"
      value="{{ user.name }}"
      required
    >
  </div>
</div><!--item-->

<div class="item">
  <div class="input">
    <label for="email">Email</label>
    <input type="email"
      name="email"
      id="email"
      value="{{ user.email }}"
      onblur="Validate.apply(this, 'isEmail')"
    >
  </div>
</div><!--item-->

<div class="item">
  <div class="input">
    <label for="password">Senha</label>
    <input type="password"
      name="password"
      id="password"
      {% if not user.id %}
        placeholder="Escolha uma senha segura"
      {% else %}
        placeholder="Digite sua senha para atualizar seu cadastro"
      {% endif %}
    >
  </div>
</div><!--item-->

{% if not user.id %}
  <div class="item">
    <div class="input">
      <label for="passwordRepeat">Repetir senha</label>
      <input type="password"
        name="passwordRepeat"
        id="passwordRepeat"
      >
    </div>
  </div><!--item-->
{% endif %}

<div class="item">
  <div class="input">
    <label for="cpf_cnpj">CPF ou CNPJ</label>
    <input type="text"
      name="cpf_cnpj"
      id="cpf_cnpj"
      value="{{ user.cpf_cnpj }}"
      onkeydown="Mask.apply(this, 'cpfCnpj')"
      onblur="Validate.apply(this, 'isCpfCnpj')"
    >
  </div>
</div><!--item-->

<div class="item">
  <div class="input">
    <label for="cep">CEP</label>
    <input type="text"
      name="cep"
      id="cep"
      value="{{ user.cep }}"
      onkeydown="Mask.apply(this, 'cep')"
      onblur="Validate.apply(this, 'isCep')"
    >
  </div>
</div><!--item-->

<div class="item">
  <div class="input">
    <label for="address">Endereço completo</label>
    <input type="text"
      name="address"
      id="address"
      value="{{ user.address }}"
    >
  </div>
</div><!--item-->