{% extends "layout.njk" %}

{% import "parts/card.njk" as card %}

{% block content %}
  {% call card.render('Detalhes', 'users-dashboard container') %}
    <form action="/users?_method=PUT" method="POST">
      <div class="fields">
        {% include "users/fields.njk" %}

        <input type="hidden" name="id" value="{{ user.id }}">
      </div><!--fields-->

      <button class="button edit" type="submit">Atualizar</button>
    </form>

    <form id="form-delete" action="/users?_method=DELETE" method="POST">
      <input type="hidden" name="id" value="{{ user.id }}">

      <button class="button delete" type="submit">Deletar</button>
    </form><!--form-delete-->
  {% endcall %}
  
  <script src="/scripts/confirm.js"></script>
{% endblock %}