<div class="item">
  <label for="category_id">Categoria</label>
  <select name="category_id" id="category_id">
    {% for category in categories %}
      <option 
        value="{{ category.id }}"
        {% if product.category_id == category.id %}
          selected
        {% endif %}>
        {{ category.name }}
      </option>
    {% endfor %}
  </select><!--category-->
</div><!--item-->

<div class="item">
  <label for="name">título</label>
  <input type="text" name="name" id="name" value="{{ product.name }}">
</div><!--item-->

<div class="item">
  <label for="description">Descrição</label>
  <textarea name="description" id="description">{{ product.description }}</textarea>
</div><!--item-->

<div class="item">
  <label>Imagem</label>
  <div id="photos-upload">
    <input type="file" name="photos" id="photos-input" multiple accept="image/*" onchange="photosUpload.handleFileInput(event)">
    <p>Selecione até 6 fotos</p>
  </div><!--photos-upload-->
  <div id="photos-preview">
    {% if files %}
      {% for image in files %}
        <div class="photo" id="{{ image.id }}">
          <img src="{{ image.src }}" alt="{{ image.name }}">
          <i class="material-icons" onclick="photosUpload.removeOldPhoto(event)">close</i>
        </div><!--photo-->
      {% endfor %}
      <input type="hidden" name="removed_files">
    {% endif %}
  </div><!--photos-preview-->
</div><!--item-->

<div class="item">
  <label for="price">Valor</label>
  <input type="text" name="price" id="price" value="{{ product.price }}" onkeydown="Mask.apply(this, 'formatBRL')">

  {% if product.old_price %}
    <input type="hidden" name="old_price" value="{{ product.old_price }}">
  {% endif %}
</div><!--item-->

<div class="item">
  <label for="quantity">Quantidade</label>
  <input type="text" name="quantity" id="quantity" value="{{ product.quantity }}">
</div><!--item-->

{% if (product.status == '0') or (product.status == '1') %}
  <div class="item">
    <label>Disponível?</label>
    <div class="status">
      <input type="radio" name="status" id="s1" value="1"
        {% if product.status == '1' %} checked {% endif %}
      >
      <label for="s1">Sim</label>

      <input type="radio" name="status" id="s0" value="0"
        {% if product.status == '0' %} checked {% endif %}
      >
      <label for="s0">Não</label>
    </div><!--status-->
  </div><!--item-->
{% endif %}