{% extends "layout.njk" %}
{% import "parts/card.njk" as cards %}

{% block content %}

{% call cards.render('', 'order-error container') %}
  <div class="error-lottie"></div>
  <h2>Desculpe!</h2>
  <p>Não podemos processar seu pedido.</p>
  <a href="#" onclick="history.back()">Tente novamente</a>
{% endcall %}

<script src="/assets/lottie.min.js"></script>
<script>
  lottie.loadAnimation({
    container: document.querySelector('.error-lottie'),
    renderer: 'svg',
    loop: false,
    autoplay: true,
    path: '/assets/13539-sign-for-error-or-explanation-alert.json'
  })
</script>

{% endblock %}