<!DOCTYPE html>
<html lang="pt-BR">
<head>
  {% block head %}
    <title>Launchstore</title>
    <link rel="shortcut icon" href="/assets/logo.svg" type="image/x-icon">
  {% endblock %}

  {% include "parts/styles.njk" %}
</head>
<body>
  {% include "parts/messages.njk" %}

  {% include "parts/header.njk" %}

  {% block content %}{% endblock %}
  
  {% include "parts/footer.njk" %}
</body>
</html>