{% macro products(name, classes, products) %}
  <section class="shop {{ classes }}">
    {% if name %}
      <h2>{{ name }}</h2>
    {% endif %}

    <div class="items">
      {% for product in products %}
        <div class="product">
          <div
            class="image"
            style="background-image: url({{ product.img if product.img else '//placehold.it/500x300?text=PRODUTO-SEM-FOTO'}})"
          >
          </div><!--image-->
          <div class="old-price">
            {% if product.oldPrice > product.price %}
              {{ product.oldPrice }}
            {% endif %}
          </div><!--old-price-->
          <p>{{ product.price }}</p>
          <h4>{{ product.name }}</h4>
          <a href="/products/{{ product.id }}" class="button">Ver produto</a>
        </div><!--product-->
      {% endfor %}
    </div><!--items-->
  </section><!--shop-->
{% endmacro %}