<link
  href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap"
  rel="stylesheet"
>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
>
<link
  href="/css/styles.css"
  rel="stylesheet"
>
<link
  href="/css/card.css"
  rel="stylesheet"
>
<link
  href="/css/messages.css"
  rel="stylesheet"
>
<link
  href="/css/session.css"
  rel="stylesheet"
>
<link
  href="/css/products.css"
  rel="stylesheet"
>
<link
  href="/css/users.css"
  rel="stylesheet"
>
<link
  href="/css/orders.css"
  rel="stylesheet"
>
<link
  href="/css/dropdown.css"
  rel="stylesheet"
>
<link
  href="/css/cart.css"
  rel="stylesheet"
>